<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
			https://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans:bean id="myDataSourceProperties" class="cn.maiaimei.example.model.MyDataSourceProperties">
        <beans:property name="url" value="${spring.datasource.url}"/>
        <beans:property name="username" value="${spring.datasource.username}"/>
        <beans:property name="password" value="${spring.datasource.password}"/>
    </beans:bean>

    <beans:beans profile="dev">
        <beans:bean id="h2DataSource" class="org.springframework.boot.autoconfigure.jdbc.DataSourceProperties"/>
    </beans:beans>

    <beans:beans profile="prod">
        <beans:bean id="mysqlDataSource" class="org.springframework.boot.autoconfigure.jdbc.DataSourceProperties"/>
    </beans:beans>

</beans:beans>
