<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.maiaimei.example.mapper.UserMapper">

    <insert id="insert" parameterType="cn.maiaimei.example.pojo.entity.User">
        insert into sys_user(id, nickname, username, password)
        values (#{id}, #{nickname}, #{username}, #{password})
    </insert>

    <update id="update" parameterType="cn.maiaimei.example.pojo.entity.User">
        update sys_user
        <set>
            <if test="nickname != null">nickname=#{nickname},</if>
            <if test="username != null">username=#{username},</if>
            <if test="password != null">password=#{password}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from sys_user
        where id = #{id}
    </delete>

    <select id="get" parameterType="java.lang.Long" resultType="cn.maiaimei.example.pojo.entity.User">
        select id, nickname, username, password
        from sys_user
        where id = #{id}
    </select>

    <select id="pageQuery" resultType="cn.maiaimei.example.pojo.entity.User">
        select id, nickname, username, password
        from sys_user
        <include refid="pageQueryFilter"></include>
        LIMIT #{size} offset #{begin}
    </select>

    <select id="pageQueryCount" resultType="java.lang.Integer">
        select count(id)
        from sys_user
        <include refid="pageQueryFilter"></include>
    </select>

    <sql id="pageQueryFilter">
        <where>
            <if test="user.nickname != null">
                AND nickname like concat('%',#{user.nickname},'%')
            </if>
            <if test="user.username != null">
                AND username like concat('%',#{user.username},'%')
            </if>
        </where>
    </sql>

</mapper>
