<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <property name="FULL_LOG_FILE" value="logs/application.log"/>
  <property name="BUSINESS_LOG_FILE" value="logs/business.log"/>
  <property name="HEALTH_CHECK_LOG_FILE" value="logs/healthcheck.log"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="FULL_LOG_FILE" class="ch.qos.logback.core.FileAppender">
    <file>${FULL_LOG_FILE}</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="BUSINESS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
    <file>${BUSINESS_LOG_FILE}</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="HEALTH_CHECK_LOG_FILE" class="ch.qos.logback.core.FileAppender">
    <file>${HEALTH_CHECK_LOG_FILE}</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FULL_LOG_FILE"/>
  </root>

  <logger name="cn.maiaimei.example.aop.advise.CommonRequestLogAdvise" level="INFO"
    additivity="false">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="BUSINESS_LOG_FILE"/>
  </logger>

  <logger name="cn.maiaimei.example.aop.advise.HealthCheckRequestLogAdvise" level="INFO"
    additivity="false">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="HEALTH_CHECK_LOG_FILE"/>
  </logger>

</configuration>
