<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 引用外部配置文件，通过 ${xxx} 来引用配置文件的值 -->
    <properties resource="application.properties"/>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${spring.datasource.mysql.driverClassName}"/>
                <property name="url" value="${spring.datasource.mysql.jdbcUrl}"/>
                <property name="username" value="${spring.datasource.mysql.username}"/>
                <property name="password" value="${spring.datasource.mysql.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="cn/maiaimei/example/mapper/DbMapper.xml"/>
    </mappers>

</configuration>
